.footer{
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8fafc;
    padding: 30px 0;
    gap: 5px;
}
.footer p{
    font-size: 1rem;
}